.container-fluid,.container{
  background-color: azure;
}




/* Adjusting the hero section */
.hero-section {
  background-image: URL("../images/webPage.jpeg"); /* Your hero image URL here */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0; /* Add padding to give space around the content */
}

/* Style for the hero content */
.hero-content {
  width: 500px; /* Adjust the width as needed */
  margin: auto; /* Center the content */
}

/* Style for the hero heading */
.hero-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for the hero paragraph */
.hero-paragraph {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

/* Style for the hero button */
.hero-button {
  font-size: 1.25rem;
  padding: 10px 30px;
}



/* body, html {
  height: 100%;
  margin: 0;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
} */



.divCenter{
  max-width: fit-content;
  margin-left: 50px;
  margin-right: 50px;
}
.card-body{
  display:none;
}
.card-text{
  padding-bottom: 25x;
  font-family: helvetica;
  font-size: 20px;
  opacity: 0;
}
.card-title{
  padding-bottom: 20px;
  font-family: futura;
  font-weight: bold;
  font-size: 25px;
}
.card-img-top{
  margin: 10px;
  border: 3px solid black; 
  /* box-shadow: 10px 10px 10px; */
  width: 100%;
  height: auto;
}
footer{
  align-items: center;
  align-content: center;
}


body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}





/* Responsive behavior for smaller screens */
@media (max-width: 400) {
  .column {
    flex: 1 1 100%;
    /* Stack columns on smaller screens */
  }
}
