.row{

  margin-right: 0.6250em;
}
#form{
  padding:1.5%
}
#navbar,#footer{
  background-color: rgb(52, 191, 203);
  padding: 0;
}
.container-fluid,.container{
  background-color: rgb(235, 244, 246);
  width: 80%; /* Set your desired width */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

body{
  font-family: Helvetica, sans-serif;
  background-color: rgb(58, 190, 249);
  align-items: center;
  align-content: center;
}



/* Adjusting the hero section */
.hero-section {
  background-image: URL("../images/webPage.jpeg"); /* Your hero image URL here */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0; /* Add padding to give space around the content */
}

/* Style for the hero content */
.hero-content {
  width: 500px; /* Adjust the width as needed */
  margin: auto; /* Center the content */
}

/* Style for the hero heading */
.hero-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style for the hero paragraph */
.hero-paragraph {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.card-body{
  display:none;
}
.card-text{
  padding-bottom: 25x;
  font-family: helvetica;
  font-size: 20px;
  opacity: 0;
}
.card-title{
  padding-bottom: 20px;
  font-family: futura;
  font-weight: bold;
  font-size: 25px;
}
.card-img-top{
  margin: 10px;
  border: 3px solid black; 
  /* box-shadow: 10px 10px 10px; */
  width: 100%;
  height: auto;
}